python-dotenv
ollama
langchain
langchain-community
langchain-core
langgraph
langchain-ollama
ollama
flask
fastapi[standard]
flask-cors
ddgs
markdown
flask[async]
pymupdf4llm
langchain-text-splitters
faiss-cpu
pymongo[srv]
bcrypt
gunicorn
pyopenssl
langfuse
sentry-sdk
apscheduler